<%= form_tag login_path, as: :session do %>

  <div class="form-group">
    <%= text_field_tag :username, nil, class: 'form-control', placeholder: 'Email / Username' %>
  </div>

  <div class="form-group">
    <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
  </div>

  <%= submit_tag 'SIGN IN', class: 'btn btn-success' %>
<% end %>