/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require backtop
 *= require_tree .
 */
 
/* Twitter Bootstrap */
@import 'bootstrap';

/* Custom Fonts */
@import url(//fonts.googleapis.com/css?family=Rokkitt:700);

.green  { color: #7DC266 !important; }
.orange { color: #FF7E4D !important; }
.red    { color: #C72543 !important; }
.white  { color: #FFFFFF !important; }

body {
  font-weight: 200;
}

/* Overlay */
#overlay {
  background: #7DC266;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  ul {
    padding: 0;
    margin: 300px auto 0;
    list-style: none;
    text-align: center;
    display: block;

    li {
      width: 10px;
      height: 10px;
      background-color: #FFF;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
      margin: 0 4px;
      -webkit-animation: loading 2.5s infinite;
      -moz-animation: loading 2.5s infinite;
      -o-animation: loading 2.5s infinite;
      -ms-animation: loading 2.5s infinite;
      animation: loading 2.5s infinite;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      -o-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;

      display: inline-block;
      zoom: 1;
      *display: inline;

      &.li1 {
        -webkit-animation-delay: 1.25s;
        -moz-animation-delay: 1.25s;
        -o-animation-delay: 1.25s;
        -ms-animation-delay: 1.25s;
        animation-delay: 1.25s;
      }

      &.li2 {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -o-animation-delay: 1s;
        -ms-animation-delay: 1s;
        animation-delay: 1s;
      }

      &.li3 {
        -webkit-animation-delay: 0.75s;
        -moz-animation-delay: 0.75s;
        -o-animation-delay: 0.75s;
        -ms-animation-delay: 0.75s;
        animation-delay: 0.75s;
      }

      &.li4 {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;
        animation-delay: 0.5s;
      }

      &.li5 {
        -webkit-animation-delay: 0.25s;
        -moz-animation-delay: 0.25s;
        -o-animation-delay: 0.25s;
        -ms-animation-delay: 0.25s;
        animation-delay: 0.25s;
      }

      &.li6 {
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        -o-animation-delay: 0.1s;
        -ms-animation-delay: 0.1s;
        animation-delay: 0.1s;
      }
    }
  }
}

@-webkit-keyframes loading {
  0% {-webkit-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-webkit-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@-moz-keyframes loading {
  0% {-moz-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-moz-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@-o-keyframes loading {
  0% {-o-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-o-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@-ms-keyframes loading {
  0% {-ms-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-ms-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@keyframes loading {
  0% {-ms-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-ms-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

/* Flash */

.flash-title {
  font-weight: bold;
}

.flash-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  a, label {
    color: #FFF;
  }
  a:hover {
    color: #CCC;
    text-decoration: none;
  }
}

.flash-top-left {
  left: 12px;
  top: 12px;
}

.flash-top-right {
  right: 12px;
  top: 12px;
}

.flash-bottom-right {
  bottom: 12px;
  right: 12px;
}

.flash-bottom-left {
  bottom: 12px;
  left: 12px;
}

#flash-container {
  position: fixed;
  z-index: 9999;
  > div {
    background-position: 25px center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin: 0 0 6px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
  }
}

.flash {
  display: none;
  background-color: #030303;
  border: 1px solid #030303;
  .close {
    margin-right: 5px !important;
  }
  .flash-message {
    padding: 20px 30px;

    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
  }
}

.flash-notice {
  background-color: #55A23B;
  border: 1px solid #409922;
  .flash-message {
    text-shadow: 1px 1px 0px #087963;
  }
}

.flash-alert {
  background-color: #ed1f24;
  border: 1px solid #A90A2C;
  .flash-message {
    text-shadow: 1px 1px 0px #A90A2C;
  }
}

.flash-info {
  background-color: #2F96B4;
  border: 1px solid #0F5C72;
  .flash-message {
    text-shadow: 1px 1px 0px #0F5C72;
  }
}

.flash-warning {
  background-color: #ffae00;
  border: 1px solid #BD740C;
  .flash-message {
    text-shadow: 1px 1px 0px #BD740C;
  }
}

#flash-container > {
  :hover {
    cursor: pointer;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

/* Flash Responsive Design */

@media all and (max-width: 240px) {
  #flash-container > div {
    max-width: 108px;
    .flash-message {
      padding: 8px;
    }
  }
}

@media all and (min-width: 241px) and (max-width: 320px) {
  #flash-container > div {
    max-width: 128px;
    .flash-message {
      padding: 8px;
    }
  }
}

@media all and (min-width: 321px) and (max-width: 480px) {
  #flash-container > div {
    max-width: 192px;
    .flash-message {
      padding: 8px;
    }
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #flash-container > div {
    max-width: 350px;
    .flash-message {
      padding: 20px 30px;
    }
  }
}

@media all and (min-width: 769px) {
  #flash-container > div {
    max-width: 350px;
    .flash-message {
      padding: 20px 30px;
    }
  }
}