<div id="overlay" style="display:none;">
  <ul>
    <li class="li1"></li>
    <li class="li2"></li>
    <li class="li3"></li>
    <li class="li4"></li>
    <li class="li5"></li>
    <li class="li6"></li>
  </ul>
</div>