<div id="wrapper">
  <div id="header" class="row">
    <div class="center">
      <div class="inner">
        <h1>
          <span class="fa-stack logo">
            <i class="fa fa-circle-o fa-stack-2x green"></i>
            <i class="fa fa-heart fa-stack-1x"></i>
          </span>
          <%= t('planning') %><span><%= t('poker') %></span>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= yield %>
    </div>
  </div>
</div>